/* Importación de la fuente Lato desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Peso normal */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

nav.barra {
    background-color: #e0f7fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.barra h1 {
    color: #00796b;
    margin: 0;
    font-weight: 700; /* Peso más grueso */
}

nav.barra ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav.barra ul li {
    margin-left: 20px;
}

nav.barra ul li a {
    text-decoration: none;
    color: #00796b;
    font-weight: 700; /* Peso más grueso */
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav.barra ul li a:hover {
    background-color: #00796b;
    color: #ffffff;
}

/* Estilos para la sección de login */
.login-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: left; /* Alinear el texto a la izquierda */
}

.login-section h2 {
    color: #00796b;
    margin-bottom: 20px;
    font-weight: 700; /* Peso más grueso */
    text-align: center; /* Alinear el título al centro */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: 700; /* Peso más grueso */
    color: #00796b; /* Color del texto */
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 700; /* Peso más grueso */
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #005b4f;
}

.login-form p {
    margin-top: 10px;
    text-align: center;
    color: #333333; /* Color del texto */
}

.login-form p a {
    color: #00796b;
    text-decoration: none;
    font-weight: 700; /* Peso más grueso */
}

.login-form p a:hover {
    text-decoration: underline;
}
